[Desktop Entry]
Name=Cursor
Comment=Cursor is an AI-first coding environment.
GenericName=AI Text Editor
Exec=/usr/share/cursor/cursor %F
Icon=cursor
Type=Application
StartupNotify=false
StartupWMClass=Cursor
Categories=TextEditor;Development;IDE;
# MimeType=application/x-code-workspace;
MimeType=x-scheme-handler/cursor;
Actions=new-empty-window;
Keywords=vscode;
X-AppImage-Version=240511kb8wt1tms

[Desktop Action new-empty-window]
Name=New Empty Window
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=/usr/share/cursor/cursor --new-window %F
Icon=cursor
